<!-- About Section -->
<section class="section-content about-section">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="text-left section-title">About us</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto text-left">
                <p>
                    MetaCleaner is an online tool to clean metadata of various file formats developed by <a href="https://opendatasecurity.io/" target="_blank" rel="nofollow noopener noreferrer">ODS</a>.
                </p>
                <p>
                    Storing files in the cloud or sharing files on the Internet is very useful but can be dangerous at the same time. When we upload a certain file,it usually has several details about our identity that, in one way or another, compromises our privacy and offers all users who get access to them personal information about us that we may not want them to have. This data is called metadata.
                </p>
                <p>
                    Our goal is to make sure people can keep their files safe. Not only protected against cyber attacks, we also want to ensure the information that travels with the files doesn't compromise the user privacy.
                </p>
                <p>
                    For more information, see our <a class="link" (click)="navigateToItem('pricing')">prices</a>.
                </p>

                <div class="logo">
                    <img src="../../../assets/img/metacleaner_logo_only_light.svg" alt="Metacleaner logo" class="brand-logo">
                    <span class="brand-text">Metacleaner</span>
                </div>
            </div>
        </div>
    </div>
</section>