<!-- Plan component -->
<div class="card" [class.current]="current" [class.selected]="selected">
    <div class="card-header">
        <h3 class="card-price"><span class="currency">€</span>{{ planContent['price'] }} <span class="period"> / month</span></h3>
    </div>
    <div class="card-block">
        <h4 class="card-title"> 
            {{ planContent['name'] }}
        </h4>
        <ul class="list-group">
            <li class="list-group-item">{{ planContent['size'] }}</li>
            <li class="list-group-item">{{ planContent['traffic'] }}</li>
            <li class="list-group-item">{{ planContent['access'] }}</li>
            <li class="list-group-item">{{ planContent['feature'] }}</li>
        </ul>
        <div class="action">
            <button *ngIf="!selected" mat-button class="button-dark small-button disable-overlay" (click)="openModal()"><span>{{ action }}</span></button>

            <!--<button *ngIf="!selected" mat-button class="button-dark small-button disable-overlay" (click)="selectPlan()"><span>{{ action }}</span></button>-->

            <button *ngIf="selected" mat-button disabled class="button-dark small-button disable-overlay"><span>{{ action }}</span></button>

        </div>
    </div>

</div>
<ng-template #selectDiag let-modal>
    <app-selection-dialog
        [planChosen]="planChosen"
        [lookupKey]="lookupKey"
        (closeEmitter)="closeModal()">
    </app-selection-dialog>
</ng-template>

