
/* ------------------------------------------------- */
/*                   Custom colors                   */
/* ------------------------------------------------- */

$dark-primary: #49535E;
$light-primary: #FAFAFB;
$brand-alternative: #66CC66;
$red-error: #DC3545;
$gray-light: #D3D3D3;
$gray-extra-light: #FAFAFA;