<!-- Navigation -->
<nav id="mainNav" #mainNav class="navbar navbar-expand-lg fixed-top" (window:resize)="onResize($event)">
    <div class="container-fluid">
        <a class="navbar-brand" (click)="home.emit(); activeItem = 'home'">
            <svg version="1.1" id="Layer_1" class="brand-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 361.4 417" style="enable-background:new 0 0 361.4 417;" xml:space="preserve">
                <g>
                    <path d="M180.7,43.8L0,0c1.2,61.4,6.8,113.6,15.6,158.2h72.1c-5-22.9-8.9-47.7-11.7-74.3l86.1,20.9l18.6,4.5l18.6-4.5
                        l86.1-20.9c-2.8,26.6-6.7,51.4-11.7,74.3c-0.2,1-0.4,2-0.7,3c-2.2,9.8-4.6,19.4-7.2,28.6H95.5H22.7C28.5,213,35.4,234,43,253
                        c35.6,88.5,88,133,137.6,164h0.1c36.4-22.8,74.4-52.9,106.1-102.3h-85.3c-6.9,7.7-13.9,14.6-20.9,20.8
                        c-19.5-17.1-38.8-39.6-55.7-71c-2-3.7-4-7.6-5.8-11.5h123.1c-1.9,3.9-3.8,7.8-5.8,11.5c-3.5,6.6-7.2,12.8-10.9,18.7h79.3
                        c4.7-9.4,9.3-19.5,13.6-30.2c7.6-18.9,14.5-39.9,20.3-63.2c2.5-10.1,4.9-20.6,7.1-31.6c8.8-44.6,14.4-96.8,15.6-158.2L180.7,43.8z">
                    </path>
                </g>
            </svg>
            <span class="brand-text">MetaCleaner</span>
        </a>
        
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="material-icons">menu</i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive" #navbarCollapse>
            <ul class="navbar-nav ml-auto">
                <li id="nav_home" class="nav-item">
                    <a class="nav-link section-link" (click)="home.emit(); activeItem = 'home'; collapse();" [ngClass]="{'active': activeItem === 'home'}">Home</a>
                </li>
                <li id="nav_features" class="nav-item">
                    <a class="nav-link section-link" (click)="features.emit(); activeItem = 'features'; collapse();" [ngClass]="{'active': activeItem === 'features'}">Features</a>
                </li>
                <li id="nav_plugins" class="nav-item">
                    <a class="nav-link section-link" (click)="plugins.emit(); activeItem = 'plugins'; collapse();" [ngClass]="{'active': activeItem === 'plugins'}">Plugins</a>
                </li>
                <li id="nav_pricing" class="nav-item">
                    <a class="nav-link section-link" (click)="pricing.emit(); activeItem = 'pricing'; collapse();" [ngClass]="{'active': activeItem === 'pricing'}">Pricing</a>
                </li>
                <li id="nav_about" class="nav-item">
                    <a class="nav-link section-link" (click)="about.emit(); activeItem = 'about'; collapse();" [ngClass]="{'active': activeItem === 'about'}">About</a>
                </li>
                <li id="nav_contact" class="nav-item">
                    <a class="nav-link section-link" (click)="contact.emit(); activeItem = 'contact'; collapse();" [ngClass]="{'active': activeItem === 'contact'}">Contact us</a>
                </li>
            </ul>
            <div class="dropdown-divider"></div>
            <ul class="navbar-nav ml-auto">
                <app-session></app-session>
            </ul>
        </div>
    </div>
</nav>