@import "base/module";
@import "helpers/module";

/* ------------------------------------------------- */
/*           Stripe form component styles            */
/* ------------------------------------------------- */

.metacleaner-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .form-group {
        width: 100%;
        min-height: 90px;
        margin: 0;

        &.half-width {
            width: 48%;
        }
        
        .form-control {
            height: 50px !important;
        }

        .field {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
               
            #card-number {
                width: 100%;
                padding-left: 85px !important;
            }
            
            .card-brand {
                align-self: center;
                width: 45px;
                position: absolute;
                margin-left: 20px;
        
                img {
                    width: 100%;
                }
            }
        
            input::placeholder {
                color: #6a7989;
            }
        }
        
        .form-invalid {
            width: 100%;
            white-space: normal;
        }
    }
}

.input,
.StripeElement {
    padding: 16px !important;

    box-shadow: 0 0 5px transparent;
    border-radius: 50px;

    transition: all 0.2s ease-in-out;

    outline: 0;
}
    
.StripeElement--empty {
    box-shadow: 0 0 5px transparent;
}
    
.StripeElement--focus {
    border: 1px solid $brand-alternative;
    box-shadow: 0 0 5px $brand-alternative;
}

.input:invalid,
.StripeElement--invalid {
    border: 1px solid $red-error;
    box-shadow: 0 0 5px $red-error;
}

.action {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0 35px;
}