<div class="login-page-container">
    <div class="card login-container">
        <div class="logo">
            <img class="brand-logo" src="assets/img/metacleaner_logo_only_dark.svg" />
        </div>
        <p class="brand-text">MetaCleaner</p>
        <form class="metacleaner-form" [formGroup]="loginForm" novalidate>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password*" autocomplete="on" formControlName="password" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" required minlength="8" />
                <div *ngIf="submitted && form.password.errors" class="form-invalid">
                    <i class="material-icons error-icon">error_outline</i> {{ getErrorMessage(form.password, 'password', '8') }}
                </div>
            </div>
            <div class="action">
                <button *ngIf="!loading" mat-button class="button-dark full-width disable-overlay" (click)="login()"><span>Reset password</span></button>

                <div *ngIf="loading">
                    <app-loading [button]="true"></app-loading>
                </div>

            </div>
        </form>
        <p *ngIf="isPasswordReset">You password was successfuly reset, you can now log in.
            <button mat-button class="button-dark full-width disable-overlay" (click)="goLoginPage()" ><span>Log In</span></button>
        </p>

    </div>
</div>
