<!-- Header -->
<app-header
    [shrink]="true"
    (home)="headerNavigation('/', 'home')"
    (features)="headerNavigation('/', 'features')"
    (pricing)="headerNavigation('/', 'pricing')"
    (about)="headerNavigation('/', 'about')"
    (contact)="headerNavigation('/', 'contact')">
</app-header>

<div class="legal-section">
    <div class="section-container">

        <!-- Cookies section -->
        <div id="cookiesContainer">

            <h1 class="section-p1">Cookies policy</h1>

            <p>
                In compliance with Law 34/2002, of July 11, on Information Services and Electronic Commerce, this website informs you about the policy of collecting and processing cookies.
            </p>


            <!-- What is a cookie? -->
            <p class="section-p2">What is a cookie?</p>

            <p>
                A cookie is a file that is downloaded to a computer while browsing a certain website. Cookies allow a web site, among other things, to store and retrieve information about the browsing habits of a user or their equipment and, depending on the information they contain and the way they use their equipment, they can be used to recognize to user.
            </p>


            <!-- What types of cookies are there? -->
            <p class="section-p2">What types of cookies are there?</p>

            <p>
                There are different types of cookies depending on the different criteria:
            </p>

            <p class="section-p3">
                Depending on the ownership:
            </p>

            <ul>
                <li>
                    <em>Own cookies:</em> those that belong to the entity that manages the domain that provides the requested service.
                </li>
                <li>
                    <em>Third-party cookies:</em> those that are owned by a third party, different from the entity that manages the domain that provides the service requested by the user, and who will be the one who processes the information collected or those that are treated by a third party.
                </li>
            </ul>


            <p class="section-p3">
                Depending on the time they remain active in the terminal or device:
            </p>

            <ul>
                <li>
                    <em>Session Cookies:</em> these are cookies that are generated to collect and store browsing data while the user accesses a web site. They remain active until the page is abandoned and the browser is closed, so that by restarting the browser and revisiting the web site, the web site does not recognize the user.
                </li>
                <li>
                    <em>Permanent cookies:</em> these are cookies that are stored in the terminal equipment and can be accessed during the period of time defined by the entity that manages the cookie. These files will remain in the computer until they are deleted manually, or the browser deletes them according to the established period of the cookie, which can be from a few minutes to several years.
                </li>
            </ul>


            <p class="section-p3">
                Depending on its purpose:
            </p>

            <ul>
                <li>
                    <em>Technical cookies:</em> these are strictly necessary for the proper functioning of a web page. They are generated when the user accesses or initiates session in the site and they are used to identify it during their navigation in the site and to check if they are authorized to access services or restricted areas of the website.
                </li>
                <li>
                    <em>Personalization cookies:</em> these are cookies that allow the user to customize some functions or contents of the website according to the characteristics defined in his terminal or by himself when accessing the site.
                </li>
                <li>
                    <em>Analysis cookies:</em> cookies that allow the person responsible for them to monitor and analyze the user's behavior when they connect to a website. They allow to quantify the number of users and perform statistical analyzes on the use of the site in order to improve the services offered.
                </li>
                <li>
                    <em>Advertising cookies:</em> these are those that allow managing, in the most efficient way possible, the offer of advertising spaces that are presented on a website based on criteria such as content or the frequency with which the ads appear.
                </li>
                <li>
                    <em>Behavioral advertising cookies:</em> these are those that allow managing, in the most efficient way possible, the offer of advertising spaces that are presented on a website. These cookies store information on the behavior of users extracted by the continuous observation of their browsing habits. In this way, a navigation profile is developed, and advertising is shown depending on it.
                </li>
            </ul>


            <!-- What kind of cookies does this website use? -->
            <p class="section-p2">What kind of cookies does this website use?</p>

            <p class="section-p3">Own cookies</p>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th>Cookie</th>
                            <th>Purpose</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>metacleaner.com</td>
                            <td>metacleaner_cookieconsent</td>
                            <td>registers the user action when accepts the cookie policy of our website.</td>
                            <td>1 year</td>
                        </tr>
                        <tr>
                            <td>metacleaner.com</td>
                            <td>_gat_UA-XXXXXXXX-X</td>
                            <td>Used to throttle request rate.</td>
                            <td>1 minute</td>
                        </tr>
                        <tr>
                            <td>metacleaner.com</td>
                            <td>_ga</td>
                            <td>Used to distinguish users.</td>
                            <td>2 years</td>
                        </tr>
                        <tr>
                            <td>metacleaner.com</td>
                            <td>_gid</td>
                            <td>Used to distinguish users.</td>
                            <td>24 hours</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <p class="section-p3">Third-party cookies</p>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th>Cookie</th>
                            <th>Purpose</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>google.com</td>
                            <td>1P_JAR</td>
                            <td>Used to collect website statistics and track conversion rates.</td>
                            <td>1 week</td>
                        </tr>
                        <tr>
                            <td>google.com</td>
                            <td>__utma</td>
                            <td>Used to distinguish users and sessions. The cookie is created when the javascript library executes and no existing __utma cookies exists. The cookie is updated every time data is sent to Google Analytics.</td>
                            <td>2 years</td>
                        </tr>
                        <tr>
                            <td>google.com</td>
                            <td>__utmb</td>
                            <td>Used to determine new sessions/visits. The cookie is created when the javascript library executes and no existing __utmb cookies exists. The cookie is updated every time data is sent to Google Analytics.</td>
                            <td>30 minutes</td>
                        </tr>
                        <tr>
                            <td>google.com</td>
                            <td>__utmt</td>
                            <td>Used to throttle request rate.</td>
                            <td>10 minutes</td>
                        </tr>
                        <tr>
                            <td>google.com</td>
                            <td>__utmz</td>
                            <td>Stores the traffic source or campaign that explains how the user reached your site. The cookie is created when the javascript library executes and is updated every time data is sent to Google Analytics.</td>
                            <td>6 months</td>
                        </tr>
                        <tr>
                            <td>google.com</td>
                            <td>_gat</td>
                            <td>Used to throttle request rate.</td>
                            <td>1 minute</td>
                        </tr>
                        <tr>
                            <td>google.com</td>
                            <td>_ga</td>
                            <td>Used to distinguish users.</td>
                            <td>2 years</td>
                        </tr>
                        <tr>
                            <td>google.com</td>
                            <td>_gid</td>
                            <td>Used to distinguish users.</td>
                            <td>24 hours</td>
                        </tr>
                        <tr>
                            <td>stripe.com</td>
                            <td>cid</td>
                            <td>Stripe session cookie to measure web traffic.</td>
                            <td>End&nbsp;of&nbsp;session</td>
                        </tr>
                        <tr>
                            <td>stripe.com</td>
                            <td>country</td>
                            <td>Stores the country of the user who registers a payment in Stripe.</td>
                            <td>5 years</td>
                        </tr>
                        <tr>
                            <td>stripe.com</td>
                            <td>lang</td>
                            <td>Stores the programming language used to communicate with Stripe.</td>
                            <td>5 years</td>
                        </tr>
                        <tr>
                            <td>stripe.com</td>
                            <td>__stripe_mid</td>
                            <td>Stripe session cookie that is used to identify the user in Stripe.</td>
                            <td>1 year</td>
                        </tr>
                        <tr>
                            <td>stripe.com</td>
                            <td>__stripe_sid</td>
                            <td>Stripe session cookie that is used to identify the user in Stripe.</td>
                            <td>30 minutes</td>
                        </tr>
                        <tr>
                            <td>stripe.com</td>
                            <td>__stripe_orig_props</td>
                            <td>Stripe session cookie to measure web traffic.</td>
                            <td>1 year</td>
                        </tr>
                        <tr>
                            <td>stripe.com</td>
                            <td>_ga</td>
                            <td>Stripe analysis cookie to measure web traffic.</td>
                            <td>2 years</td>
                        </tr>
                        <tr>
                            <td>stripe.com</td>
                            <td>_gid</td>
                            <td>Stripe analysis cookie to measure web traffic.</td>
                            <td>24 hours</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p>
                Users may reject the processing of such data or information by rejecting the use of Cookies by selecting the appropriate settings for this purpose in their browser.
            </p>

            <p>
                You can allow, block or delete the cookies installed on your computer by configuring the browser options installed on your computer.
            </p>

            <p>
                In the following links you will get information about the most common browsers:
            </p>

            <ul>
                <li>
                    For more information on the Chrome browser,
                    <a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank" rel="nofollow noopener noreferrer">click here</a>
                </li>
                <li>
                    For more information about the Explorer browser,
                    <a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank" rel="nofollow noopener noreferrer">click here</a>
                </li>
                <li>
                    For more information on the Firefox browser,
                    <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" target="_blank" rel="nofollow noopener noreferrer">click here</a></li>

                <li>
                    For more information on the Safari browser,
                    <a href="https://support.apple.com/kb/PH5042?locale=en_US" target="_blank" rel="nofollow noopener noreferrer">click here</a></li>

            </ul>

            <div class="last-modified">
                <span class="small-text">Last modified: {{ modified_date | date:'fullDate' }}</span>
            </div>

        </div>

    </div>
</div>

<!-- Footer -->
<app-footer></app-footer>