<!-- Header -->
<app-header
    [shrink]="true"
    (home)="headerNavigation('/', 'home')"
    (features)="headerNavigation('/', 'features')"
    (pricing)="headerNavigation('/', 'pricing')"
    (about)="headerNavigation('/', 'about')"
    (contact)="headerNavigation('/', 'contact')">
</app-header>

<div class="legal-section">
    <div class="section-container">

        <!-- Privacy policy section -->
        <div id="privacyPolicyContainer">

            <h1 class="section-p1">Privacy policy</h1>

            <!-- Contact information -->
            <p class="section-p2">Contact information</p>

            <ul>
                <li>Data Controller: OPEN DATA SECURITY S.L.</li>
                <li>CIF: B-76.741.222</li>
                <li>Contact address: C/ San Francisco, number 9, floor 4º-D, C.P. 38002, Santa Cruz de Tenerife, Spain. </li>
                <li>E-mail address: <a href="mailto:info@opendatasecurity.io">info@opendatasecurity.io</a></li>
                <li>
                    Contact telephone numbers:
                    <ul>
                        <li>ES: +34 900 838 167</li>
                        <li>UK: +44 203 034 0056</li>
                        <li>US: +1 347 669 9174</li>
                    </ul>
                </li>
            </ul>


            <!-- Principle information -->
            <p class="section-p2">PRINCIPLE INFORMATION</p>

            <!-- Purpose -->
            <p class="section-p3">PURPOSE:</p>

            <p>
                The personal data provided to our company ODS through this website, will be used for the following purposes:
            </p>

            <ul>
                <li>
                    <u>Contact forms:</u> the personal data provided through the contact forms (name, email and telephone number) will be used for the purpose of managing requests for information about the software as a METACLEANER service.
                </li>
                <li>
                    <u>Registration forms:</u> the personal data provided through the registration forms (name and email) will be used to manage the subscription, contact and provision of the service for the use of METACLEANER in its different modalities and in accordance with the <a [routerLink]="['/service-agreement']">AGREEMENT OF SOFTWARE AS SERVICE</a>. Once the registration is made, in the event that THE SUBSCRIBER hires one of the Payment Plans, the necessary information will be requested for the payment and billing of the service.
                </li>
                <li>
                    Where appropriate, sending commercial communications about products, services, activities, campaigns and initiatives of a similar nature (only in case of express consent).
                </li>
            </ul>


            <!-- Principle of minimization of data -->
            <p class="section-p3">PRINCIPLE OF MINIMIZATION OF DATA:</p>

            <p>
                The personal data provided by our users must be adequate, relevant and not excessive in relation to the scope and with the determined, explicit and legitimate purposes for which they were obtained.
            </p>

            <p>
                The USER will be solely responsible for the accuracy and accuracy of the information provided. THE USER will personally respond to ODS, in front of those affected or interested and before the Spanish Agency for Data Protection in the case of providing false data or third parties without their consent.
            </p>

            <p>
                Likewise, it is reported that the data provided in the contact and registration forms must be completed voluntarily with the exception of those data that appear as mandatory. If the mandatory data required is not provided, the management of the request cannot be guaranteed.
            </p>

            <p>
                The recipient of the service undertakes to communicate to ODS, the changes that occur in their data, so that they respond with truth to their current situation at all times.
            </p>

            <p>
                <em style="text-transform: uppercase">*Treatment of minor´s data: </em> ODS will not collect data from minors without the authorization of their father, mother or legal guardian. In the event that a minor completes the contact or registration forms and the authorization is not accredited, the application will be destroyed without addressing its content.
            </p>

            <p>
                <em style="text-transform: uppercase">*Cookies: </em> In accordance with the GDPR of direct application and mandatory compliance as of May 25, 2018, users are informed that this website uses Google Analytics cookies whose features are included in our <a [routerLink]="['/cookies']">Cookies Policy</a>. It is a tool that helps website owners to measure how users interact with the content of the site. You can Access the information in the Google Analytics Privacy Policy: <a href="https://www.google.com/analytics/learn/privacy.html" target="_blank" rel="nofollow noopener noreferrer">https://www.google.com/analytics/learn/privacy.html</a>. Google LLC complies with the security guarantees in terms of data protection (adhered to the privacy agreement between the EU and US “Privacy Shield).
            </p>


            <!-- Legitimation -->
            <p class="section-p3">LEGITIMATION:</p>

            <p>
                The legal basis for the processing of your personal data is your express consent to request information, as well as the commercial relationship and invoicing for the contracting of the service for use by METACLEANER.
            </p>


            <!-- Commercial Communications -->
            <p class="section-p3">COMMERCIAL COMMUNICATIONS:</p>

            <p>
                We have your consent to send commercial communications by electronic means (e-mail) or other equivalent means of communication, which ODS can offer, by checking the corresponding boxes in the contact and registration forms or by request of express consent will be understood.
            </p>

            <p>
                In your case, if you do not wish to receive information about the products and services we offer in ODS you can request your cancellation by sending an email with the Word “UNSUBSCRIBE IN COMMERCIAL COMMUNICATIONS SENDING” to the following e-mail address: <a href="mailto:info@opendatasecurity.io">info@opendatasecurity.io</a>
            </p>


            <!-- Term of conservation -->
            <p class="section-p3">TERM OF CONSERVATION</p>

            <p>
                Your data will be stored during the following periods:
            </p>

            <ul>
                <li>
                    Data provided by means of registration forms: during the time that the business relationship subsists for the use of METACLEANER and, once it has ended, during the established legal obligations.
                </li>
                <li>
                    Data provided through contact forms and for sending commercial communications: until the revocation of your consent.
                </li>
            </ul>


            <!-- Recipients -->
            <p class="section-p3">RECIPIENTS</p>

            <p>
                No data will be transferred to third parties, except legal obligation.
            </p>

            <p>
                If, in the future, ODS will make other assignments of personal data, it will inform in a timely manner.
            </p>

            <p>
                With our Processors, there is a contract in accordance with current regulations on data protection for compliance with the guarantees of protection of personal data.
            </p>

            <p>
                The hosting of the servers of this website is within the territory of the European Union. The transfer of data internationally is not contemplated.
            </p>


            <!-- Application for the Exercise of Rights -->
            <p class="section-p3">APPLICATION FOR THE EXERCISE OF RIGHTS</p>

            <p>
                In accordance with the current regulation of Regulation (EU) 2016/679, of the European Parliament and of the Council, of April 2016, of direct application and mandatory compliance as of May 25, 2018, all users / interested parties may exercise their rights with the following name:
            </p>

            <ul>
                <li>
                    Right of Access, to have knowledge of the data that ODS is dealing with.
                </li>
                <li>
                    Right to rectify, to rectify incomplete or inaccurate data.
                </li>
                <li>
                    Right of opposition, to oppose the processing of data.
                </li>
                <li>
                    Right to delete, to cancel or delete personal data.
                </li>
                <li>
                    Right of portability, the interested party will have the right to receive the personal data that concern him, that has been provided to a data controller, in a structured format, of common use and mechanical Reading, and to transmit them to another controller without preventing it the person responsible to whom it was given.
                </li>
                <li>
                    Limitation of the treatment, to limit the treatment.
                </li>
                <li>
                    Limit individual automated decisions, so as not to be subject to individualized decisions.
                </li>
            </ul>
            <p>
                To exercise the aforementioned rights, you can send us your request, by means of a document proving your identity, addressed to the following contact address: C/ San Francisco, number 9, floor 4º- D, C.P. 38002, Santa Cruz de Tenerife. Or, to the following e-mail address: <a href="mailto:info@opendatasecurity.io">info@opendatasecurity.io</a>.
            </p>

            <p>
                ODS must answer the request for the exercise of rights within one month of its request. The term may be extended to two months talking into account the complexity and the number of applications. ODS will inform the interested party of any such extension within one month of receipt of the request, indicating the reasons, for the delay. When the interested party submits an application electronically, the information will be provided by electronic means when possible, unless the interested party requests that it be provided by other means.
            </p>

            <p>
                In case of not having obtained satisfaction in the exercise of their rights, you can file a claim with the Control Authority.
            </p>

            <p>
                You can revoke your consent at any time by sending an email to the following address: <a href="mailto:info@opendatasecurity.io">info@opendatasecurity.io</a>.
            </p>


            <!-- Social networks -->
            <p class="section-p3">SOCIAL NETWORKS</p>

            <p>
                We use social networks such as LinkedIn and Twitter in order to publish information of interest to our users.
            </p>

            <p>
                The personal data that you can provide to ODS through social networks will be treated in accordance with the provisions of this Privacy Policy.
            </p>


            <!-- Modifications to the privacy policy -->
            <p class="section-p3">MODIFICATIONS TO THE PRIVACY POLICY</p>

            <p>
                ODS may modify this Privacy Policy when it is necessary in accordance with applicable regulations. All the modifications will be published with the purpose of keeping the users always informed.
            </p>

            <div class="last-modified">
                <span class="small-text">Last modified: {{ modified_date | date:'fullDate' }}</span>
            </div>

        </div>

    </div>
</div>

<!-- Footer -->
<app-footer></app-footer>